# 
.*/

.*
!.gitignore
!.dockerignore
# !.env
!.hintrc
!.metadata
!.flutter-plugins-dependencies
!.env_product


**/z*
**/z*/

# **/product*


# 

# server/services/
__pycache__

#
Product.Dockerfile 
Environment_*

# server/product_terminal.sh
# server/product.sh
# docker-compose.yml